<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8"> 
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
 <h1>Aaron Myrie</h1>
 <p>I am a 21 year old Software Engineering major attending the University of the West Indies.  I enjoy solving problems and expanding my creativity through software and web programming. My favourite sports are cricket and football.
I am also pursuing a minor degree in Managment Studies. After I graduate from undergrad school, I am looking forward to pursue a master's degree overseas. Music production is another area I am interested in.  </p>
</body>
</html> 